:root {
  --orange: #FF6B00;
  --light-orange: #FED7AA;
  --gray1: #70868F;
  --gray2: #8690A2;
  --gray3: #B0AFB1;
  --gray4: #C4C4C4;
  --gray5: #AAAAAA;
  --gray6: #B8BBCF;
  --white: #FFFFFF;
  --black: #121212;
  --black-color: #000000;
  --black-heading: #231D4F;
  --bg-black1: #0C0D0F;
  --bg-black2: #111317;
  --p-color1: #575757;
  --p-color2: #757575;
  --p-color3: #1E1E1E;
  --p-color4: #2D3748;
  --btn-hovered: #ED6300;
  --btn-focus: #FFE4C5;
}
body{   
  font-family: 'Urbanist', sans-serif;
  /* background: #F9FAFB; */
  }

.artist-profile .container{
  margin: 50px auto 100px;
}
.artist-profile .container h2{
  color: orange;
}
.artist-profile .container .profile-page {
    padding: 0 1%;
}
.profile-page .profile-header {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border: 1px solid #f2f4f9;
}

.profile-page .profile-header .cover {
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

.profile-page .profile-header .cover figure {
  margin-bottom: 0;
}


.profile-page .profile-header .cover figure img {
  border-radius: .25rem .25rem 0 0;
  width: 100%;
  height: 50vh; /* 456px; */
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
}

.profile-page .profile-header .cover .gray-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%); */
}
.profile-page .profile-header .cover .cover-photo-camera {
  position: absolute;
  top: 85%;
  left: 93%;
  z-index: 12;
}
.profile-page .profile-header .cover .cover-photo-camera button{
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.profile-page .profile-header .cover .cover-photo-camera button span{
  color: #fff;
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.30);
  background: rgba(255, 255, 255, 0.30);
  transition: .7s;
}
.profile-page .profile-header .cover .cover-photo-camera button span:hover{
  color: #fff;
  background: #FF6B00;
  border: 1px solid #FF6B00;
}
.profile-page .profile-header .cover .cover-body {
  position: absolute;
  bottom: -225px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 30px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  left: 0;
  backface-visibility: hidden;
  border-radius: 315px;
  border: 4px solid #FFF;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}
.profile-page .profile-header .cover .cover-body .profile-pic:hover{
  border: 4px solid #FF6B00;
  transition: .5s ease-in-out;
}
.profile-page .profile-header .cover .cover-body .profile-info .camera{
  position: absolute;
  top: 80%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.profile-page .profile-header .cover .cover-body .profile-info .camera button{
  border: 0;
  background-color: transparent;
}
.profile-page .profile-header .cover .cover-body .profile-info .camera button .material-symbols-outlined{
  color: #fff;
  flex-shrink: 0;
  padding: 19px;
  border-radius: 33px;
  background: #FF6B00;
  font-variation-settings: 'FILL' 0;
}
.profile-page .profile-header .cover .cover-body .profile-info .camera button .material-symbols-outlined:hover{
  border: 2px solid #FFF;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover .cover-body .profile-pic {
      width: 70px;
  }
}
.profile-page .profile-header .cover .cover-body .profile-info {
  display: flex;
  align-items: center;
}
.profile-page .profile-header .cover .cover-body .profile-info .profile-wrapper {
  /* margin-top: 5rem;  if the followers features is uncomment */
  margin-top: 3rem; 
  margin-left: 45px;
}
.profile-page .profile-header .cover .cover-body .profile-info .folow{
  display: inline-flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.profile-page .profile-header .cover .cover-body .profile-info .folow .divider{
  width: 1px;
  height: 25px;
  background: #E7E7E7;
}
.profile-page .profile-header .cover .cover-body .profile-info .folow .followers {
  color: #212B36;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0;
}
.profile-page .profile-header .cover .cover-body .profile-info .folow .followers span{
  color: #637381;
  font-size: 14px;
  line-height: 20px;
}
.profile-page .profile-header .cover .cover-body .name-artist{
  margin-bottom: 20px;
}
.profile-page .profile-header .cover .cover-body .profile-name {
  color: #212B36;
  font-size: 40px;
  font-weight: 700;
}
.profile-page .profile-header .cover .cover-body .type-of-artist {
  color: #637381;
  font-size: 24px;
  line-height: 20px;
}
.profile-page .profile-header .cover .cover-body .profile-info .music-genre {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.profile-page .profile-header .cover .cover-body .profile-info .music-genre .title{
  color: var(--tail-grids-text-color, #637381);
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-right: 10px;
  margin-bottom: 0;
}
.profile-page .profile-header .cover .cover-body .profile-info .music-genre .badge {
  color: #EA580C;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 32px;
  background: #FED7AA;
  padding: 4px 8px;
  margin: 0 2px;
}
.profile-page .profile-header .cover .cover-body .edit a{
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 14px 37px;
  background-color: #FF6B00;
  border: 0;
}
.profile-page .profile-header .cover .cover-body .edit a:hover{
  background-color: var(--btn-hovered);
}
.profile-page .profile-header .header-links {
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border-radius:5px;
  height: 300px;
  position: relative;
}

.profile-page .profile-header .header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  position: absolute;
  top: 260px;
  left: 25%;
} 
.profile-page .profile-header .header-links ul li a{
  color: #7C828F;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}
.profile-page .profile-header .header-links ul li:hover a{
  color:  #FF6B00;
}
.profile-page .profile-header .header-links ul li a.active{
  color:  #FF6B00;
  text-decoration:  underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 3px;
}
.profile-page .profile-header .header-links ul li a .orange-badge { /* if the badge is active */
  color: white;
  padding: 0px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  background-color: #FF6B00;
  border-radius: 3px;
}
.profile-page .profile-header .header-links ul li a .text-bg-secondary { /* if the badge is not active */
  color: #454F59!important;
  leading-trim: both;
  text-edge: cap;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  padding: 0px 6px;
  border-radius: 3px;
  border: 1px solid #969696;
  background-color: #fff!important;
}

/* Sidebar */
.profile-page .left-wrapper .card{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}
.profile-page .left-wrapper .artist-info{
  margin-bottom: 24px;
}
.profile-page .left-wrapper .artist-info .card-body, .profile-page .left-wrapper .band-members .card-body{
    padding: 24px 20px 42px;
}
.profile-page .left-wrapper .artist-info .card-title{
  color:  #27272E;
  font-size: 16px;
  font-weight: 600;
  line-height: 136.523%;
}
.profile-page .left-wrapper .artist-info .edit a{
  color: #FF6B00;
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
.profile-page .left-wrapper .artist-info .edit a:hover, .profile-page .left-wrapper .band-members .see-all a:hover, 
.profile-page .right-wrapper .past-events .see-all a:hover, .profile-page .right-wrapper .original-songs .see-all a:hover{
    text-decoration: underline;
} 
.profile-page .left-wrapper .artist-info .about{
  color:  #212B36;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.profile-page .left-wrapper .artist-info .description{
  color: #B8BBCF;
  font-size: 14px;
}
.profile-page .left-wrapper .artist-info .social-media{
  display: flex;
  align-items: center;
  max-width: 100%;
}
.profile-page .left-wrapper .artist-info .social-media span{
  color: #B8BBCF;
}
.profile-page .left-wrapper .artist-info .social-media img {
  color: #B8BBCF;
}
.profile-page .left-wrapper .artist-info .social-media .calendar{
  font-size: 30px;
}
.profile-page .left-wrapper .artist-info .social-media p{
  color: #B8BBCF;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-left: 8px;
}
.profile-page .left-wrapper .artist-info .social-media .band-name{
  color: #27272E;
  font-weight: 600;
  line-height: 136.523%;
}

/* left side bar bottom */
.profile-page .left-wrapper .band-members .header{
    margin-bottom: 20px;
}
.profile-page .left-wrapper .band-members .title{
  align-items: center;
}
.profile-page .left-wrapper .band-members .title img{
  margin-right: 6px;
}
.profile-page .left-wrapper .band-members .title .card-title{
  color:  #27272E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
}
.profile-page .left-wrapper .band-members .see-all a{
  color: #FF6B00;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.profile-page .left-wrapper  .card-body .members-list {
    border-radius: 10px;
    background: #FFF;
    display: flex;
    padding: 16px;
    /* border: 1px solid red; */
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.profile-page .left-wrapper  .card-body .members-list .member-profile {
    display: flex;
    width: 93%;
    align-items: center;
}
.profile-page .left-wrapper  .card-body .members-list img{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 15px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
}
.profile-page .left-wrapper  .card-body .members-list .member-info a{
    color: var(--text-heading-dark, #27272E);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 136.023%;
    margin-bottom: 0;
    text-decoration: none;
}
.profile-page .left-wrapper  .card-body .members-list .member-info  p{
    color: var(--text-body-light, #425466);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
}
.profile-page .left-wrapper  .card-body .members-list .more {
    width: 7%;
}
.profile-page .left-wrapper  .card-body .members-list .more span{
    color: #7A7A9D;
}

/* To post - write something */
.profile-page .middle-wrapper .post .card{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 24px;
}
.profile-page .middle-wrapper .post .card-body .write-something {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #F3F3F3;
}
.profile-page .middle-wrapper .post .card-body .write-something img{
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 4px solid #FFF;
  background:  lightgray 50% / cover no-repeat;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  margin-right: 8px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
}
.profile-page .middle-wrapper .post .card-body .write-something button {
  color: #536471;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
  background-color: #fff;
  border: 0;
  width: 100%;
  text-align: left;
  padding: 0;
}
.profile-page .middle-wrapper .post .card-body .post-features{
  display: flex;
  align-items: center;
}
.profile-page .middle-wrapper .post .card-body .post-features button {
  color: #536471;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0;
  background-color: #fff;
  border: 0;
  width: 100%;
  text-align: left;
  padding: 0;
}
.profile-page .middle-wrapper .post .card-body .post-features .post-icon{
  display: flex;
  align-items: center;
  margin: 0 8px;
}
.profile-page .middle-wrapper .post .card-body .post-features .post-icon:hover *{
  color: #EA580C;
}
.profile-page .middle-wrapper .post .card-body .post-features .post-icon span{
  color: #536471;
  margin-right: 8px;
  transition: font-variation-setings 0.25s;
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
}

/* Artist post */
.profile-page .middle-wrapper .artist-post .card{
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 24px;
}
.profile-page .middle-wrapper  .artist-post .card-header .user-posted-info{
  display: flex;
  align-items: center;
}
.profile-page .middle-wrapper  .artist-post .card-header .user-posted-info img{
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: lightgray 50% / cover no-repeat;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
  margin-right: 10px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
}
.profile-page .middle-wrapper  .artist-post .card-header .group-posted .name{
  color: #0F1419;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.profile-page .middle-wrapper  .artist-post .card-header .group-posted .ago{
  color: #536471;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page .middle-wrapper  .artist-post .card-header .group-posted p{
  margin: 0;
}
.profile-page .middle-wrapper  .artist-post .card-header .dropdown span{
  color: #536471;
}
.profile-page .middle-wrapper  .artist-post .card-header{
  border: 0;
}
.profile-page .middle-wrapper  .artist-post .card-body p{
  color: #0F1419;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
}
.profile-page .middle-wrapper  .artist-post .card-body .posted-img img{
  width: 100%;
  max-height: 345px;
  position: relative;
  object-fit: cover;
  backface-visibility: hidden;
}
.profile-page .middle-wrapper  .artist-post .card-footer {
  border: 0;
  padding: 5px 17px 17px 17px;
}
.profile-page .middle-wrapper  .artist-post .card-footer .post-actions .post-icon{
  display: flex;
  align-items: center;
  margin-right: 24px;
}
.profile-page .middle-wrapper  .artist-post .card-footer .post-actions .post-icon span{
  margin-right: 8px;
  color: #B8BBCF;
}
.profile-page .middle-wrapper  .artist-post .card-footer .post-actions .post-icon p, .profile-page .middle-wrapper  .artist-post .card-footer .comments p{
  color: #536471;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0;
}

/* Right Side Bar / Top & Bottom */
.profile-page .right-wrapper .past-events .card-body .header, .profile-page .right-wrapper .original-songs .card-body .header {
  margin-bottom: 20px;
}
.profile-page .right-wrapper .past-events .header .title, .profile-page .right-wrapper .original-songs .header .title{
  align-items: center;
}
.profile-page .right-wrapper .past-events .header span, .profile-page .right-wrapper .original-songs .header span {
  margin-right: 6px;
  color: #B8BBCF;
}
.profile-page .right-wrapper .past-events .header h5, .profile-page .right-wrapper .original-songs .header h5{
  color: #27272E;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%;
  text-decoration: none;
}
.profile-page .right-wrapper .past-events .see-all a, .profile-page .right-wrapper .original-songs .see-all a{
  color: #FF6B00;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.profile-page .right-wrapper .past-events .card-body .events-list, 
.profile-page .right-wrapper .original-songs .songs-list {
    border-radius: 10px;
    background: #FFF;
    padding: 16px;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05), 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info, .profile-page .right-wrapper .original-songs .songs-list .songs-info{
    display: flex;
    width: 93%;
    align-items: center;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info img, .profile-page .right-wrapper .original-songs .songs-list .songs-info img{
  width: 4.4375rem;
  height: 4.4375rem;
  flex-shrink: 0;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 10px;
  background: lightgray 50% / cover no-repeat, #D9D9D9;
  margin-right: 8px;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info a, .profile-page .right-wrapper .original-songs .songs-list .songs-info a {
  color: var(--text-heading-dark, #27272E);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 136.023%;
  margin-bottom: 0;
  text-decoration: none;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info  p, .profile-page .right-wrapper .original-songs .songs-list .songs-info p {
  color: var(--text-body-light, #425466);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 0;
}
.profile-page .right-wrapper .past-events .card-body .events-list .more, .profile-page .right-wrapper .original-songs .songs-list .more {
  width: 7%;
}
.profile-page .right-wrapper .past-events .card-body .events-list .more span, .profile-page .right-wrapper .original-songs .songs-list .more span {
  color: #7A7A9D;
}
.profile-page .right-wrapper .past-events .card-body .events-list .member-info .text-orange{
  color: #FF6B00;
}

/* About tab */
.profile-page .about-tab {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
  padding: 90px;
  margin: 0 .1%;
}
.profile-page .about-tab .overview{
  color: #111827;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}
.profile-page .about-tab .content, 
.profile-page .about-tab .capacity,
.profile-page .about-tab .capacity-list,
 .profile-page .about-tab .capacity-list li  {
  color: #B8BBCF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page .about-tab  .capacity-list{
  padding-left: 1rem;
  margin-bottom: 48px;
}
.profile-page .about-tab  .genres{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.profile-page .about-tab .genres h4{
  color: #111827;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 0;
}
.profile-page .about-tab .genres .genres-list{
  display: block;
}
.profile-page .about-tab .genres .genres-list .badge {
  border-radius: 12px;
  border: 2px solid #ABADC6;
  color:  #ABADC6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 16px;
  margin-right: 8px;
  margin-bottom: 6px;
}
.profile-page .about-tab .social-media {
  background: rgba(239, 243, 253, 0.50);
  padding: 10%;
  margin-bottom: 48px;
}
.profile-page .about-tab .social-media h4{
  color: #111827;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 18px;
}
.profile-page .about-tab .social-media ul{
  list-style-type: none;
  padding-left: 0rem;
}
.profile-page .about-tab .social-media ul img{
  width: 32px;
  height: 32px;
  margin-right: 9px;
}
.profile-page .about-tab .social-media ul li{
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.profile-page .about-tab .ratings h4{
  color: #111827;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.profile-page .about-tab .ratings .ratings-wrapper{
  display: flex;
  align-items: center;
}
.profile-page .about-tab .ratings span {
  color: #FF6B00;
  transition: font-variation-setings 0.25s;
  font-variation-settings: 'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48;
  padding-right: 4px;
}
.profile-page .about-tab .ratings p {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 11px;
  color: var(--p-color3);
  margin-bottom: 0rem;
  margin-top: 3px;
}
.profile-page .about-tab .ratings p .reviews {
  color: #8C8C8C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13.5px;
  margin-bottom: 0rem;
  padding-left: 4px;
}
.profile-page .about-tab .band-members {
  margin-top: 60px;
  border-top: 2px solid #E5E7EB;
}
.profile-page .about-tab .band-members h4 {
  color: #121212;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.2px;
  text-transform: capitalize;
  margin-bottom: 24px;
  margin-top: 32px;
}
.profile-page .about-tab .band-members .card{
  width: 19%;
  border: 0;
  background: none;
  -webkit-box-shadow: none;
  display: inline-flex;
  margin-right: 1%;
  margin-bottom: 20px;
}
.profile-page .about-tab .band-members .card img{
  border-radius: 10px;
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  backface-visibility: hidden;
  height: 254px;
  flex-shrink: 0;
}
.profile-page .about-tab .band-members .card .card-body{
  padding-left: 1%;
}
.profile-page .about-tab .band-members .card .card-title{
  color: #121212;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-bottom: 4px;
}
.profile-page .about-tab .band-members .card .card-text{
  color: #AAA;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.64px;
}

/* Artist profile form */
.profile-details .container{
  margin: 5rem auto;
}
.profile-details .container .title{
  color: #1D1D1D;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.05rem;
}
.profile-details .container .sub-heading{
  color: #8690A2;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 140%; 
  letter-spacing: -0.025rem;
  margin-bottom: 2.5rem;
}
.profile-details .container .profile-details{
  color: #1D1D1D;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.035rem;
  margin-bottom: 2.5rem;
}
.profile-details .container .back-wrapper{
  margin-bottom: 2.5rem;
}
.profile-details .container .back-wrapper .back{
  color: #2D3748;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.025rem;
  margin-bottom: 0rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.profile-details .container .back-wrapper .back:hover{
  color: #FF6B00;
}
.profile-details .container .back-wrapper .back:hover span{
  background:  #FF6B00;
  color: #FFF;
  border: 2px solid #FFF;
}
.profile-details .container .back-wrapper span {
  color: #FF6B00;
  border-radius: 2.75rem;
  border: 2px solid #DFDFE6;
  background: #FFF;
  margin-right: 0.75rem;
  padding: 0.60rem;
}
.profile-details .container .fill-details  .upload-img {
  margin: 0rem auto 1rem;
  display: flex;
  align-items: center;
}
.profile-details .container .fill-details  .upload-img .label-img{
  position: relative;
}
.profile-details .upload-img .label-img .default-avatar {
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 100%;
}
/* .profile-details .container .fill-details .upload-img .label-img .camera-inner{
  color: #FFFFFF;
  background-color: #EAEBF1;
  padding: 3rem;
  border-radius: 100%;
  font-size: 3.5rem;
  margin-right: 1.5rem;
  transition: font-variation-setings 0.25s;
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
}
.profile-details .container .fill-details .upload-img .label-img:hover .camera-inner{
  background: #FF6B00;
} */
.profile-details .container .fill-details .upload-img .label-img:hover .camera-outer{
  border: 1px solid #fff;
}
.profile-details .container .fill-details .upload-img .label-img .camera {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  opacity: 0;
}
.profile-details .container .fill-details  .upload-img .label-img .camera input{
  background-color: transparent;
  margin-bottom: 0rem!important;
}
.profile-details .container .fill-details .upload-img .label-img  .camera-outer {
  color: #fff;
  padding: 0.7rem;
  border-radius: 33px;
  background: #FF6B00;
  font-variation-settings: 'FILL' 0;
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 72%;
  border: 1px solid #FF6B00;
}
.profile-details .container .fill-details .form-group{
  margin-bottom: 1.75rem;
}
.profile-details .container .fill-details .required-fields label, .profile-details .container .fill-details .band-and-social,
.profile-details .fill-details .form-about-artist label{
  color: #121212;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  margin-bottom: 0.63rem;
}
.profile-details .container .fill-details .required-fields .typeArtist{
  margin-top: 2.5rem;
}
.profile-details .container .fill-details .upload-img .description{
  color: #121212;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025rem;
  margin-bottom: 0.62rem;
  margin-left: 1.3rem;
}
.profile-details .container .fill-details .required-fields select, .profile-details .container .fill-details .required-fields input {
  padding: 0.8rem;
  color: var(--black-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
.profile-details .container .fill-details .required-fields .multiselect-tags {
  padding-top: 0.8rem;
  padding-bottom: 0.75rem;
  margin-top: 0;
}

/* WebKit, Edge */
.profile-details .container .fill-details .required-fields select::-webkit-input-placeholder,
.profile-details .container .fill-details .required-fields input ::-webkit-input-placeholder,
.profile-details .fill-details .form-about-artist textarea:-webkit-input-placeholder{
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* Firefox 4-18 */
.profile-details .container .fill-details .required-fields select:-moz-placeholder,
.profile-details .container .fill-details .required-fields input:-moz-placeholder,
.profile-details .fill-details .form-about-artist textarea:-moz-placeholder{ 
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* Firefox 19+ */
.profile-details .container .fill-details .required-fields select::-moz-placeholder,
.profile-details .container .fill-details .required-fields input::-moz-placeholder,
.profile-details .fill-details .form-about-artist textarea::-moz-placeholder{ 
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* IE 10-11 */
.profile-details .container .fill-details .required-fields select:-ms-input-placeholder, 
.profile-details .container .fill-details .required-fields input:-ms-input-placeholder,  
.profile-details .fill-details .form-about-artist textarea:-ms-input-placeholder{ 
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* Edge */
.profile-details .container .fill-details .required-fields select::-ms-input-placeholder,
.profile-details .container .fill-details .required-fields input::-ms-input-placeholder,
.profile-details .fill-details .form-about-artist textarea::-ms-input-placeholder{ 
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* MODERN BROWSER */
.profile-details .container .fill-details .required-fields select::placeholder, 
.profile-details .container .fill-details .required-fields input::placeholder, 
.profile-details .fill-details .form-about-artist textarea::placeholder { 
  color: var(--gray6);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem; 
}
.profile-details .fill-details .form-about-artist textarea::placeholder{
  padding: 0.2rem;
}

.profile-details .container .fill-details .form-group .hidden{
  opacity: 0;
}
.profile-details .container .fill-details .form-group .multiselect{
  margin: 0rem;
}
.profile-details .container .fill-details .form-group .multiselect-tag{
  color: #FF6B00;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.0175rem;
  border-radius: 0.375rem;
  background: #FED7AA;
  padding-bottom: 0;
}
.profile-details .container .fill-details .form-group .add-member, .profile-details .container .fill-details .form-group .add-social-media {
  border: 0;
  background-color: #fff;
  color: #FF6B00;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0 0;
}
.profile-details .container .fill-details .form-group .add-member span, .profile-details .container .fill-details .form-group .add-social-media span {
  color: #FF6B00;
  margin-right: 0.60rem;
}
.profile-details .container .fill-details .band-members .list-group-item {
  border-radius: 0.3125rem;
  border: 1px solid #B8BBCF;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  gap: .3rem;
  padding: 1rem 1.5rem;
}
.profile-details .container .fill-details .band-members .list-group-item .items {
  float: left;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-details .container .fill-details .band-members .list-group-item .items .band-name,
.profile-details .container .fill-details .card .card-body .card-title{
  color: #121212;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.023%;
  margin-bottom: 0;
}
.profile-details .container .fill-details .band-members .list-group-item .items .band-role,
.profile-details .container .fill-details .card .card-body .card-text{
  color: var(--text-body-light, #425466);
  font-size: 0.875rem;
  font-family: Urbanist;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  margin-bottom: 0;
}
.profile-details .container .fill-details .band-members .list-group-item .options{
  float: right;
  width: 10%;
}
.profile-details .container .fill-details .band-members .list-group-item button {
  background-color: #fff;
  border: 0;
  padding-right: 0;
}
.profile-details .container .fill-details .band-members .list-group-item button span{
  color: #FF6B00;
}
.profile-details .container .fill-details .card{
  border-radius: 0.3125rem;
  border: 1px solid #B8BBCF;
  padding: 1.5rem;
}
.profile-details .container .fill-details .card .row{
  display: flex;
  align-items: center;
}
.profile-details .container .fill-details .card .row .card-body{
  padding: 0rem;
}
.profile-details .container .fill-details .card a{
  text-align: right;
}
.profile-details .container .fill-details .card a span{
  color: #FF6B00;
}
.profile-details .container .fill-details .band-members .list-group-item:last-child{
  margin-bottom: 2.5rem;
}
.profile-details .container .fill-details .form-about-artist{
  margin-top: 2.5rem;
}
.profile-details .container .fill-details .form-group .about-artist{
  height: 10rem;
  resize: none;
  border-radius: 0.5rem;
  border: 1px solid var(--low-sky-gray, rgba(86, 103, 137, 0.26));
  font-weight: 600;
}
.profile-details .group-item{
  margin-bottom: 2rem;
}
.profile-details .group-item .form-check-label{
  color: #121212;
  font-size: 1.25rem;
  font-weight: 600;
}
.profile-details .group-item .form-switch input{
  width: 3.5625rem;
  height: 1.75rem;
  color: #B8BBCF;
  /* background-color: #B8BBCF; */
}
.profile-details .group-item .form-check-input {
  border: var(--bs-border-width) solid #B8BBCF;
  /* background: #B8BBCF; */
  /* --bs-form-switch-bg: url("/assets/artist-account/off-switch.svg"); */
}

.profile-details .group-item .form-check-input:checked {
  background-color:#FF6B00;
  border-color: #FF6B00;
}
.profile-details .fill-details .form-about-artist textarea:-moz-placeholder, /* Firefox 18- */
.profile-details .fill-details .form-about-artist textarea::-moz-placeholder, /* Firefox 19+ */
.profile-details .fill-details .form-about-artist textarea:-ms-input-placeholder, /* IE 10+ */
.profile-details .fill-details .form-about-artist textarea::-webkit-input-placeholder, /* Webkit based */
.profile-details .fill-details .form-about-artist textarea::placeholder { /* Modern browsers */
  color: #B8BBCF;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3125rem;
}

.profile-details .container .fill-details .submit-form {
  color: var(white);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.0175rem;
  border-radius: 0.3125rem;
  background: var(--orange);
  padding: 0.9rem 10rem;
  border: 0;
  margin: 3.5rem auto;
}
.profile-details .container #successDetailsModal .modal-body{
  padding-top: 0;
}
.profile-details .container #successDetailsModal .modal-body svg{
  margin-bottom: 0.87rem;
}
.profile-details .container #successDetailsModal .modal-body .title{
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.75rem; 
  margin-bottom: 0.5rem;
}
.profile-details .container #successDetailsModal .modal-body .content{
  color: #ABADC6;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; 
}
.profile-details .container #successDetailsModal .modal-footer{
  padding-top: 0;
  border-top: 0;
}
.profile-details .container #successDetailsModal .modal-footer .view-profile{
  color: var(--white);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  border-radius: 0.4375rem;
  background: var(--orange);
  padding: 0.75rem;
  width: 80%;
  border: 1px solid var(--orange);
  margin: 0 auto 1.5rem;
  text-decoration: none;
}
.profile-details .container #successDetailsModal .modal-footer .view-profile:hover{
  background: var(--btn-hovered);
}
.profile-details .container #successDetailsModal .modal-header .btn-close{
  font-size: 0.50rem;
  padding: 0.5rem;
  border: 1px solid var(--gray6);
  border-radius: 100%;
}
.profile-details .container #successDetailsModal .modal-header .btn-close:hover{
  opacity: 1;
  border: 1px solid var(--orange);
}
.profile-details .container .fill-details .submit-form:hover{
background: var(--btn-hovered);
}
/* modal */
.profile-details .container .modal-content .modal-header{
  border-bottom: 0;
  align-items: baseline;
}
.profile-details .container .modal-content .modal-header .container{
  margin: 0;
  padding-top: .9rem!important;
}
.profile-details .container .modal-content .modal-body .container{
  margin: 0rem auto;
}
.profile-details .container .modal-content .modal-header .container .modal-title{
  color: var(--color-dark-dark, #23262F);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.modal-add-social-media .form-group label{
  color: #2D3748;
  font-size: 1rem;
  font-weight: 600;
  line-height: 140%; 
  letter-spacing: -0.02rem;
  margin-bottom: 0.37rem;
}
.modal-add-social-media .form-group select, .modal-add-social-media .form-group input{
  height: 3rem;
}
.profile-details .container .modal-content .modal-header .container .sub-heading{
  color: var(--body-text, #2D3748);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.0175rem;
}
.profile-details .container .modal-content .modal-header .close-modal-icon:hover{
  cursor: pointer;
}
.profile-details .container .modal-content .modal-header .close-modal-icon {
  color: #23262F;
  border: 1px solid #DFDFE6;
  border-radius: 100%;
  padding: 5px;
  font-size: 18px;
}
.profile-details .container .modal-content .modal-header .close-modal-icon:hover {
  color: #fff;
  border: 0;
  background-color: #FF6B00;

}

/* AddMember.vue & SocialMedia.vue */
.modal-add-member .member-avatar{
  margin-bottom: 2rem;
}
.modal-add-member .form-group label{
  color: var(--body-text, #2D3748);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
  margin-bottom: .3rem;
}
.modal-add-member input[type=file]::file-selector-button {
  /* padding: .2em .4em; */
  transition: .5s;
  border-radius: 11.5rem;
  background-color: #EAEBF1;
  width: 8.5rem;
  height: 8.5rem;
  border: 0;
}
.modal-add-member input[type=file]::file-selector-button:hover{
  background-color: #FF6B00;
  color: #fff;
}
/* .modal-add-member .form-group, .modal-add-social-media .form-group {
  margin-bottom: .3rem!important;
} */
.modal-add-member .form-group .member-name, .modal-add-member .form-group select{
  height: 3rem;
}
.modal-add-member .add-member, .modal-add-social-media .add-social-media {
  color: var(--white, #FFF);
  font-size: 1.01rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.025rem;
  padding: 0.9rem 20%;
  border-radius: 0.3125rem;
  background: #FF6B00;
  margin: 2rem auto 1rem;
  border: 0;
}
.modal-add-member .add-member:hover, .modal-add-social-media .add-social-media:hover {
  background: var(--btn-hovered);
}
.modal-add-member  .upload-img {
  margin: 0rem auto 1rem;
  display: flex;
  align-items: center;
}
.modal-add-member  .upload-img .label-img{
  position: relative;
  margin: auto;
}
.modal-add-member .upload-img .label-img .camera-inner{
  color: #FFFFFF;
  background-color: #EAEBF1;
  padding: 3rem;
  border-radius: 100%;
  font-size: 3.5rem;
  margin-right: 1.5rem;
  transition: font-variation-setings 0.25s;
  font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48;
}
.modal-add-member .upload-img .label-img .camera {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  opacity: 0;
}
.modal-add-member .upload-img .label-img .camera input{
  background-color: transparent;
  margin-bottom: 0rem!important;
}
.modal-add-member .upload-img .label-img  .camera-outer {
  color: #fff;
  flex-shrink: 0;
  padding: 0.7rem;
  border-radius: 33px;
  background: #FF6B00;
  font-variation-settings: 'FILL' 0;
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 65%;
}
.profile-details form .artist-type-error::before {
  content: "The artist type field is required.";
}
.profile-details form .artist-name-error::before {
  content: "The artist name or band field is required.";
}
.profile-details form .street-error::before {
  content: "The street field is required.";
}
.profile-details form .city-error::before {
  content: "The city field is required.";
}
.profile-details form .province-error::before {
  content: "The province field is required.";
}
.modal-add-member .member-name::before {
  content: "The member name field is required.";
}
.modal-add-member .role-error::before {
  content: "The role field is required.";
}





/* Data from backend - array of objects at the bottom */
.artist-data .container .user{
  white-space: normal;
  /* overflow: hidden; */
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}



                                                                             /* MEDIA QUERIES */

/* Large (lg) and Extra large (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px){
  /* 
  STANDARD MARGIN:
  margin-top: 80px / 5rem
  margin-bottom: 80px
  Pixels	REM
  16 px	1 rem
  18 px	1.1 rem
  20 px	1.3 rem
  24 px	1.5 rem
  28px 1.75 rem
*/

                                                    /* ARTIST PROFILE PAGE*/
.profile-page .profile-header .cover .cover-body .profile-info .profile-wrapper {
    margin-top: 1rem;
    margin-left: 2rem;
}
.profile-page .profile-header .cover .cover-body .profile-name {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.44rem;
}
.profile-page .profile-header .cover .cover-body .type-of-artist {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; 
}
.profile-page .profile-header .cover .cover-photo-camera {
  top: 82%;
}
.profile-page .profile-header .cover .cover-photo-camera button span {
  font-size: 1rem;
}
.profile-page .profile-header .cover .cover-body .edit a {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  letter-spacing: 0.0625rem;
  padding: 0.87rem 2rem;
}
.profile-page .about-tab .ratings p {
  margin-top: 5px;
}
.profile-page .about-tab .genres .genres-list .badge {
  padding: 10px 14px;
  margin-right: 6px;
  margin-bottom: 10px;
}
.profile-page .about-tab .band-members {
margin-top: 40px;
}
.profile-page .about-tab {
  padding: 60px;
}
.profile-page .about-tab .band-members .card img {
height: 200px;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info img, .profile-page .right-wrapper .original-songs .songs-list .songs-info img{
width: 48px;
height: 48px;
margin-right: 6px;
}
.profile-page .profile-header .cover .cover-body .profile-pic {
  width: 15.875rem;
  height: 15.875rem;
}
.profile-page .profile-header .header-links ul li a {
  leading-trim: both;
  text-edge: cap;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}
.profile-page .profile-header .header-links ul li a .orange-badge, .profile-page .profile-header .header-links ul li a .text-bg-secondary {
  padding: 0px 4px;
  font-size: 10px;
  line-height: 14px;
}
.profile-page .left-wrapper .artist-info .card-body, .profile-page .left-wrapper .band-members .card-body,
.profile-page .right-wrapper .past-events .card-body, .profile-page .right-wrapper .original-songs .card-body {
  padding: 1.2rem 1rem;
}
.profile-page .left-wrapper .artist-info .card-title {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%; 
}
.profile-page .left-wrapper .artist-info .edit a, .profile-page .left-wrapper .band-members .see-all a,
.profile-page .right-wrapper .past-events .see-all a, .profile-page .right-wrapper .original-songs .see-all a {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile-page .left-wrapper .artist-info .about, .profile-page .left-wrapper .band-members .title .card-title,
.profile-page .right-wrapper .past-events .header h5, .profile-page .right-wrapper .original-songs .header h5,
.profile-page .right-wrapper .past-events .card-body .events-list .events-info a, 
.profile-page .right-wrapper .original-songs .songs-list .songs-info a {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.31rem;
}
.profile-page .left-wrapper .artist-info .description {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page .left-wrapper .artist-info .social-media .band-name, .profile-page .left-wrapper .artist-info .social-media p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.523%; 
}
.profile-page .left-wrapper .artist-info .social-media .calendar {
  font-size: 24px;
}
.profile-page .left-wrapper  .card-body .members-list,
.profile-page .right-wrapper .past-events .card-body .events-list, .profile-page .right-wrapper .original-songs .songs-list {
  padding: 12px;
  margin-bottom: 8px;
}
.profile-page .left-wrapper .artist-info .social-media img, .profile-page .left-wrapper .band-members .title img,
.profile-page .right-wrapper .past-events .header span, .profile-page .right-wrapper .original-songs .header span {
  width: 1.5rem;
  height: 1.5rem;
}
.profile-page .left-wrapper  .card-body .members-list .member-info a {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.25rem;
}
.profile-page .left-wrapper  .card-body .members-list .member-info  p {
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page .left-wrapper  .card-body .members-list img {
  width: 1.9rem;
  height: 1.9rem;
  margin-right: 0.5rem;
}
.profile-page .left-wrapper  .card-body .members-list .more span,
.profile-page .right-wrapper .past-events .card-body .events-list .more span, 
.profile-page .right-wrapper .original-songs .songs-list .more span {
  font-size: 20px;
}
.profile-page .middle-wrapper .post .card-body .write-something img,
.profile-page .middle-wrapper .artist-post .card-header .user-posted-info img {
  width: 2.625rem;
  height: 2.625rem;
}
.profile-page .middle-wrapper .post .card-body .write-something {
  margin-bottom: 14px;
  padding-bottom: 14px;
}
.profile-page .middle-wrapper .post .card-body .write-something button {
  font-size: 0.9rem;
}
.profile-page .middle-wrapper .post .card-body .post-features button {
  font-size: 0.9rem;
  padding-top: 2px;
}
.profile-page .middle-wrapper .post .card-body .post-features .post-icon span {
  margin-right: 7px;
}
.profile-page .middle-wrapper .post .card-body .post-features .post-icon span {
 font-size: 20px;
}
.profile-page .middle-wrapper  .artist-post .card-header .group-posted .name {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.profile-page .middle-wrapper  .artist-post .card-header .group-posted .ago {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-page .middle-wrapper  .artist-post .card-header .dropdown span {
 font-size: 20px;
}
.profile-page .middle-wrapper  .artist-post .card-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.profile-page .middle-wrapper  .artist-post .card-body p {
  font-size: 0.9rem;
}
.profile-page .middle-wrapper  .artist-post .card-body{
  padding-bottom: 0.5rem;
}
.profile-page .middle-wrapper  .artist-post .card-footer .post-actions .post-icon span {
  margin-right: 6px;
  font-size: 20px;
}
.profile-page .middle-wrapper  .artist-post .card-footer .post-actions .post-icon p {
  font-size: 11px;
  margin-top: 2px;
} 
.profile-page .middle-wrapper  .artist-post .card-footer .comments p {
  font-size: 10px;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info  p, .profile-page .right-wrapper .original-songs .songs-list .songs-info p {
  font-size: 0.725rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.0125rem;
}
.profile-page .right-wrapper .past-events .card-body .events-list .events-info  p{
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0.20rem;
}




                                                    /* ARTIST PROFILE DETAILS*/
 .profile-details .container {
    margin: 5rem auto;
}          
.profile-details .container .back-wrapper .back {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  letter-spacing: -0.02rem;
} 
.profile-details .container .back-wrapper span {
  font-size: 1.5rem;
  padding: 0.21rem;
}    
.profile-details .container .title {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.045rem;
}      
.profile-details .container .sub-heading {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; 
  letter-spacing: -0.02rem;
}  
.profile-details .container .profile-details {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.03rem
}    
.profile-details .upload-img .label-img .default-avatar {
  width: 9.125rem;
  height: 9.125rem;
} 
.profile-details .container .fill-details .upload-img .label-img  .camera-outer {
  padding: 0.6rem;
  font-size: 18px;
  top: 68%;
  left: 72%;
}   
.profile-details .container .fill-details .upload-img .description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -0.02rem;
  margin-left: 1rem;
}
.profile-details .container .fill-details .required-fields label, .profile-details .container .fill-details .band-and-social, .profile-details .fill-details .form-about-artist label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
}
.profile-details .container .fill-details .required-fields select, .profile-details .container .fill-details .required-fields input{
  padding: 0.65rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3125rem; 
}
.profile-details .container .fill-details .required-fields .multiselect-tags {
  padding-top: 0.65rem;
  padding-bottom: 0.60rem;
}
.profile-details .container .fill-details .form-group .add-member, .profile-details .container .fill-details .form-group .add-social-media {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  letter-spacing: 0.04375rem;
  padding-top: 0.4rem;
}
.profile-details .group-item .form-check-label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.profile-details .group-item {
  margin-bottom: 1.5rem;
}
.profile-details .group-item .form-switch input {
  width: 3.0625rem;
  height: 1.5rem;
}
.profile-details .container .fill-details .submit-form {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.0175rem;
}
/* WebKit, Edge */
.profile-details .container .fill-details .required-fields select::-webkit-input-placeholder,
.profile-details .container .fill-details .required-fields input ::-webkit-input-placeholder,
.profile-details .fill-details .form-about-artist textarea:-webkit-input-placeholder{
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* Firefox 4-18 */
.profile-details .container .fill-details .required-fields select:-moz-placeholder,
.profile-details .container .fill-details .required-fields input:-moz-placeholder,
.profile-details .fill-details .form-about-artist textarea:-moz-placeholder{ 
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem;  
}
/* Firefox 19+ */
.profile-details .container .fill-details .required-fields select::-moz-placeholder,
.profile-details .container .fill-details .required-fields input::-moz-placeholder,
.profile-details .fill-details .form-about-artist textarea::-moz-placeholder{ 
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* IE 10-11 */
.profile-details .container .fill-details .required-fields select:-ms-input-placeholder, 
.profile-details .container .fill-details .required-fields input:-ms-input-placeholder,  
.profile-details .fill-details .form-about-artist textarea:-ms-input-placeholder{ 
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem;  
}
/* Edge */
.profile-details .container .fill-details .required-fields select::-ms-input-placeholder,
.profile-details .container .fill-details .required-fields input::-ms-input-placeholder,
.profile-details .fill-details .form-about-artist textarea::-ms-input-placeholder{ 
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; 
}
/* MODERN BROWSER */
.profile-details .container .fill-details .required-fields select::placeholder, 
.profile-details .container .fill-details .required-fields input::placeholder, 
.profile-details .fill-details .form-about-artist textarea::placeholder { 
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3125rem; 
}

} /*  end of 1200px to 1399.98px  */

@media (min-width: 992px) and (max-width: 1199.98px){
  /* .profile-page .right-wrapper .past-events .card-body .events-list .events-info img, .profile-page .right-wrapper .original-songs .songs-list .songs-info img{
  width: 42px;
  height: 42px;
  margin-right: 6px;
}
.profile-page .profile-header .cover .cover-body .profile-pic {
  width: 200px;
  height: 200px;
} */

} /*  end of 992px to 1199.98px  */

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure {
      /* height: 280px; */
      overflow: hidden;
  }
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure {
      /* height: 110px; */
      overflow: hidden;
  }
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure img {
      -webkit-transform: scale(2);
      transform: scale(2);
      margin-top: 15px;
  }
}

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure img {
      margin-top: -55px;
  }
}

/* Special stylings */

.profile-page .profile-body .left-wrapper .social-links a {
  width: 30px;
  height: 30px;
}
.rtl .profile-page .profile-header .cover .cover-body .profile-name {
  margin-left: 0;
  margin-right: 17px;
}
.img-xs {
  width: 37px;
  height: 37px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}
.card-header {
  padding: 0.875rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #f2f4f9;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}
.card-footer {
  padding: 0.875rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid #f2f4f9;
}

.grid-margin {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.rounded {
  border-radius: 0.25rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f2f4f9;
  border-radius: 0.25rem;
}

